<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style (1).css') }}">
  <title>ChatDEI</title>

  <style>
    #message-container {
      display: flex;
      justify-content: space-between;
    }

    #message {
      width: 350px;
      height: 300px;
      margin-bottom: 2px;
      padding: 4px
    }

    #newMessage {
      width: 350px;
      height: 300px;
      margin-bottom: 2px;
      margin-left: 4px;
      padding: 2px
    }
    .right-button{
      position: relative;
      right: 10px
      top: 100px
    }
  </style>


</head>

<body>
  <nav>
    <!-- <form action='/aboutus',method='get'> -->
      <div class="logo">ChatDEI</div>
      <div class="nav-items">
        <a href = "{{ url_for('home') }}">Home</a>
        <a href = "{{ url_for('login') }}">Log In</a>
        <!-- <button type="submit" value="aboutus">About us</button> -->
        <a href = "{{ url_for('aboutUS') }}">About Us</a>
        <a href = "{{ url_for('yourvoice') }}">Your Voice</a>
      </div>
    </form>
  </nav>

  <section class="checker">
    <div class="checker-container">
      <div class="column-left">
        <h1>Find stereotypes in your paragraph</h1>
        <p>Free service test version.</p>

        <form action='/Send' method="post">
          <div id="message-container">
            <div>
              <label for="message">Your message:</label>
              <textarea id="message" name="message">
              </textarea>
            </div>

            <div>
              <label for="newMessage">Suggestions:</label>
              <textarea id="newMessage" name="newMessage">
                {{pred}}
              </textarea>
            </div>
          </div>
          <div>
            <button type="submit" value="Send">Send</button>
          </div>
        </form>
      </div>

      <div class="column-right">
        <img src="{{ url_for('static', filename='DEI.jpg') }}" alt="illustration" class="message-image">
      </div>
    </div>
  </section>
</body>

</html>