<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>About Us</title>

  <style>
    body {
      background-color: #fdcc04;
      margin: 0;
      padding: 0;
    }


    h1 {
      text-align: center;
      margin-top: 60px;
      font-size: 60pt;
    }

    h2 {
      text-align: center;
      font-size: 25pt;
    }

    p {
      text-align: center;
      font-size: 15pt;
      margin-left: 450px;
      margin-right: 450px;
    }
  </style>

</head>

<body>
  <nav>
    <div class="logo">ChatDEI</div>
    <div class="nav-items">
      <a href="index.html">Home</a>
      <a href="yourvoice.html">Your Voice</a>
      <a href="login.html">Log In</a>
      <a href="aboutus.html">About Us</a>

    </div>
  </nav>
  <h1>
    About<span style="color: #8040bf;">Us</span>
  </h1>
  <br>
  <h2>
    Who We Are
  </h2>
  <br>
  <p>
    We are a group of high school students from Toronto, Canada who are passionate about <span
      style="color: #8040bf;"><b>Diversity, Equity, and
        Inclusion (DEI)</b></span>. As racial minorities ourselves, we have witnessed and experienced the impact of
    harmful
    stereotypes
    on mariginalized groups, both online and in real life.
  </p>
  <br>
  <br>
  <h2>
    Background & Our Mission
  </h2>
  <br>
  <p>
    <span style="color: #8040bf;"><b>Stereotypes</b></span>, when used with hurtful intentions or arising from a
    lack of
    understanding, can cause significant harm.
    They perpetuate biases, creating barriers in society that often lead to discrimination, exclusion, and injustice.
    Motivated by our goal for positive change, we created <span style="color: #8040bf;"><b>ChatDEI</b></span> to
    dismantle
    these barriers.
  </p>
  <br>
  <br>
  <h2>
    About ChatDEI
  </h2>
  <br>
  <p>
    ChatDEI is more than just a tool; we envision it as a <span style="color: #8040bf;"><b>catalyst for
        change</b></span>.
    Enter any text, and our Machine Learning
    model will detect the presence of offensive language and stereotypes with a high accuracy. If detected, ChatDEI then
    provides suggestions for correction. Users are prompted to reflect about their communication choices.
  </p>
  <br>
  <p>
    <span style="color: #8040bf;"><b>We hope ChatDEI could break societal barriers, creating a more inclusive
        and
        equitable environment for all,
        starting with promoting respectful dialogue.</b></span>
  </p>
  <br>
  <br>
  <br>
</body>

</html>
